body {
  /*default color*/
  background: lightcyan;

  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
}

.bg0 {
  background: #1174b8;
  background: -webkit-linear-gradient(top left, #1174b8, #119472);
  background: -moz-linear-gradient(top left, #1174b8, #119472);
  background: linear-gradient(to bottom right, #1174b8, #119472);
}

.bg1 {
  background: #24211d;
  background: -webkit-linear-gradient(top left, #24211d, #0a4536);
  background: -moz-linear-gradient(top left, #24211d, #0a4536);
  background: linear-gradient(to bottom right, #24211d, #0a4536);
}

.bg2 {
  background: #b7b0a5;
  background: -webkit-linear-gradient(top left, #b7b0a5, #2f2d54);
  background: -moz-linear-gradient(top left, #b7b0a5, #2f2d54);
  background: linear-gradient(to bottom right, #b7b0a5, #2f2d54);
}
