@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
  /*default color*/
  background: #eeeeee;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 220%;
  color: #eeeeee;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #eeeeee;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #eeeeee;
  text-align: left;
  text-decoration: solid underline red 4px;
  text-underline-offset: 15px;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #303841;
  text-align: left;
  text-decoration: solid underline red 4px;
  text-underline-offset: 15px;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #303841;
  text-align: center;
  background: #eeeeee;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 220%;
  color: #eeeeee;
}

/* Style the header */
.header {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 84px;
  left: 0px;
  top: 0px;
  background: #303841;
  float: none;
  text-align: center;
}

/* Style the header links */
.header a {
  float: right;
  margin: 30px 30px 30px 0px;
  text-decoration: none;
}

.header a:hover {
  opacity: 50%;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.header img {
  width: 233px;
  height: 49px;
  margin-left: 120px;
  padding-top: 20px;
}

.section-1 {
  display: flex;
  justify-content: center;
}

.section-1 img {
  display: flex;
  position: relative;
  width: 190px;
  height: 184px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-2 {
  padding: 30px 40px 40px 40px;
  width: 100%;
  background: #303841;
}

.section-2 img {
  margin-top: 30px;
  height: 256px;
  border: 8px solid #eeeeee;
  box-sizing: border-box;
}

.section-2-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.section-2 p {
  max-width: 520px;
}

.section-2 a {
  margin-top: 15px;
  margin-right: 20px;
}

.content-bio {
  margin: 30px 70px 30px 70px;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* button with Link */
a.button {
  display: inline-block;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  padding: 6px 15px;
  color: #303841;
}
a.button:hover {
  opacity: 50%;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
}

.section-3 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  background: #eeeeee;
  text-align: left;
}

#portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
}

#portfolio img {
  border: 3px solid #3a4750;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-bottom: 35px;
  transition: 0.5s;
}

#portfolio img:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  position: relative;
  transform: scale(1.05);
  opacity: 50%;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
  transition: 0.2s;
}

.caption {
  max-width: 50%;
}

.section-4 {
  padding: 30px 40px 40px 40px;
  width: 100%;
  background: #303841;
}

form {
  margin-top: 40px;
}

@media only screen and (max-width: 940px) {
  .content-bio {
    margin: 0px 20px 0px 0px;
  }
}
