@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
  /*default color*/
  background: #eeeeee;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #eeeeee;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #eeeeee;
  text-align: left;
  text-decoration: solid underline red 4px;
  text-underline-offset: 15px;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 220%;
  color: #eeeeee;
}
/* Style the header */
.header {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 84px;
  left: 0px;
  top: 0px;
  background: #303841;
  float: none;
}

/* Style the header links */
.header a {
  float: right;
  padding: 30px 30px 30px 0px;
  text-decoration: none;
}

.header a:hover {
  opacity: 50%;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.header img {
  float: left;
  width: 233px;
  height: 49px;
  margin-left: 20px;
  padding-top: 20px;
}

.section-1 {
  display: flex;
  justify-content: center;
}

.section-1 img {
  display: flex;
  position: relative;
  width: 190px;
  height: 184px;
  padding-top: 30px;
}

.section-2 {
  padding: 40px;
  width: 100%;
  background: #303841;
}

.section-2 img {
  margin-top: 30px;
  width: 258px;
  height: 256px;
  border: 8px solid #eeeeee;
  box-sizing: border-box;
}

.section-2-content {
  display: inline-block;
}

.section-2 p {
  max-width: 550px;
}

.section-2 a {
  margin-top: 15px;
  margin-right: 20px;
}

/* button with Link */
a.button {
  display: inline-block;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  padding: 6px 15px;
  color: #303841;
}
a.button:hover {
  opacity: 50%;
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
}

.section-3 {
  padding: 40px;
  width: 100%;
  background: #eeeeee;
  text-align: left;
}
